@tailwind base;
@tailwind components;
@tailwind utilities;

/* *, :before, :after{ */
*{
  box-sizing: content-box;
}
body{
  margin: 0;
}
.showBtn {
  padding: 0 .8rem;
  background: #027502;
  font-weight: 600;
}
input{
  outline: 2px solid #011b8f;
}