.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  font-size: 1.2rem;
  gap: 5px;
}

.pagination .page-num {
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  transition: 0.3s;
}

.pagination .page-num:hover {
  background: #5ab1bb;
  color: #fff;
}

.pagination .active {
  background: #5ab1bb;
}
